<%- include("./partials/header") %>

<div class="container " style="margin-top: 20px;">
    <div class="row " style="justify-content: center;">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="card" style="width: 20rem;">
                    <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/ztpd5q9awnmmnefczn5x"
                        class="card-img-top" alt="Resturants">
                    <div class="card-body">
                        <p class="card-text">150 restaurants with the best class
                            and safety</p>
                        <center>
                            <a href="/restaurants"
                                class="btn btn-outline-success my-2 my-sm-0"
                                type="submit">Restaurants</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="card" style="width: 20rem;">
                    <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/k7f6xdk98ywjcochkcwm"
                        class="card-img-top" alt="Resturants">
                    <div class="card-body">
                        <p class="card-text">150 Stores with the best class and
                            safety</p>
                        <center>
                            <a href="/stores"
                                class="btn btn-outline-success my-2 my-sm-0"
                                type="submit">Stores</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<%- include("./partials/footer") %>